In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

from bs4 import BeautifulSoup
import requests

In [2]:
url='http://www.vpgt.lt/vpgt/m/m_events_summary/wfiles/e_2018-08-01.htm'

result = requests.get(url)
c = result.content
soup =BeautifulSoup(c,'lxml')
table = soup.find('table')

In [3]:
rows =table.find_all('tr')
data = []
for tr in rows:
    cols = tr.findAll('td')
    
    for td in cols:
        text1 = td.find('p')
        data.append(text1.text)

AttributeError: 'NoneType' object has no attribute 'text'

In [4]:
data=data[data.index('Ekstremaliąsias situacijas'):data.index('2.\r\n  Gaisrų aprašymas')]

In [5]:
df=pd.DataFrame(np.array(data).reshape(22,14), columns =["Duomenys apie:", "2017 nuo metų pr.", "2018 nuo metų pr.", "Iš viso per parą", "Vilniaus", "Kauno", "Klaipėdos", "Šiaulių", "Panevėžio", "Alytaus", "Utenos", "Marijampolės", "Tauragės", "Telšių"])

In [6]:
df=df.drop(df.columns[1:4], axis=1).T.drop([2,6,13], axis=1)

In [7]:
df=df.rename(columns=df.iloc[0]).drop(['Duomenys apie:']).reset_index()

In [8]:
df

,index,Ekstremaliąsias situacijas,Ekstremaliuosius įvykius,GAISRUS:,a) Gaisruose žuvusius,b) traumuotus asmenis,a) transporto avarijose,b) vandenyje,c) buityje,d) pagalba spec. tarnyboms,e) chemija ir radiacija,f) kitus,a) gaisruose,"b) buityje, vandenyje",c) transporto avarijose,d) kitur,Žuvę/traumuoti ne gaisre,Evakuoti žmonės,Melagingi pranešimai,KITI IŠVYKIMAI
0,Vilniaus,,1,8,,,2,,,2,,,,,1,,/,,,8
1,Kauno,,,8,,,2,,1,1,,,,,,,/,,1,7
2,Klaipėdos,,,6,,,,,,,,4,,,,,/,,,4
3,Šiaulių,,2,5,,,,,,2,,1,,,,1,/,,,3
4,Panevėžio,,,11,,,,,1,3,,,,,,1,/1,,,1
5,Alytaus,,,3,,,,1,,2,,,,,,,/,,,2
6,Utenos,,,1,,,,,,,,,,,,,/,,,2
7,Marijampolės,,2,1,,,1,,1,2,,,,,,,/,,,3
8,Tauragės,,,1,,,,,,,,,,,,,/,,,1
9,Telšių,,,2,,,,,,1,,3,,,,,/,,,

In [9]:
df['Žuvę ne gaisre'], df['Traumuoti ne gaisre'] = df['Žuvę/traumuoti ne gaisre'].str.split('/',1).str
df=df.drop(['Žuvę/traumuoti ne gaisre'], axis=1)

In [10]:
df

,index,Ekstremaliąsias situacijas,Ekstremaliuosius įvykius,GAISRUS:,a) Gaisruose žuvusius,b) traumuotus asmenis,a) transporto avarijose,b) vandenyje,c) buityje,d) pagalba spec. tarnyboms,...,f) kitus,a) gaisruose,"b) buityje, vandenyje",c) transporto avarijose,d) kitur,Evakuoti žmonės,Melagingi pranešimai,KITI IŠVYKIMAI,Žuvę ne gaisre,Traumuoti ne gaisre
0,Vilniaus,,1,8,,,2,,,2,...,,,,1,,,,8,,
1,Kauno,,,8,,,2,,1,1,...,,,,,,,1,7,,
2,Klaipėdos,,,6,,,,,,,...,4,,,,,,,4,,
3,Šiaulių,,2,5,,,,,,2,...,1,,,,1,,,3,,
4,Panevėžio,,,11,,,,,1,3,...,,,,,1,,,1,,1
5,Alytaus,,,3,,,,1,,2,...,,,,,,,,2,,
6,Utenos,,,1,,,,,,,...,,,,,,,,2,,
7,Marijampolės,,2,1,,,1,,1,2,...,,,,,,,,3,,
8,Tauragės,,,1,,,,,,,...,,,,,,,,1,,
9,Telšių,,,2,,,,,,1,...,3,,,,,,,,,