In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

from bs4 import BeautifulSoup
import requests

from datetime import timedelta, date

import itertools

In [2]:
datadate=[]

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2015, 12, 24)
end_dt = date(2015, 12, 25)


for dt in daterange(start_dt, end_dt):
    datadate.append(dt.strftime("%Y-%m-%d"))
    
datadate

['2015-12-24', '2015-12-25']

In [3]:
data=[]
dfs=[]
headers=[]

for datos in datadate:
    url='http://www.vpgt.lt/vpgt/m/m_events_summary/wfiles/e_'+datos+'.htm'
    result = requests.get(url)
    c = result.content
    soup =BeautifulSoup(c,'lxml')
    table = soup.find('table')
    rows =table.find_all('tr')
    
    data0=[]
    
    for tr in rows:
        cols = tr.find_all('td')
        for td in cols:
            text = td.find_all(text=True)
            for t in text:
                data0.append(t)
                    
    data0=data0[data0.index('Ekstremaliąsias situacijas'):data0.index('2.\r\n  Gaisrų aprašymas')]
    data0 = [a for a in data0 if a != '\n']
    data0[140:143] = [''.join(data0[140:143])]
    
    df=pd.DataFrame(np.array(data0).reshape(22,14), columns =["Duomenys apie:", "2017 nuo metų pr.", "2018 nuo metų pr.", "Iš viso per parą", "Vilniaus", "Kauno", "Klaipėdos", "Šiaulių", "Panevėžio", "Alytaus", "Utenos", "Marijampolės", "Tauragės", "Telšių"])
    df=df.drop(df.columns[1:4], axis=1)
    df['Data']=datos
    #df=df.set_index('Duomenys apie:')
    dfs.append(df)
    #headers.append(datos)                    
    
    #data.append(data0)
    
result = pd.concat(dfs, ignore_index=True)

In [4]:
data0

['Ekstremaliąsias situacijas',
 '6',
 '4',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'Ekstremaliuosius įvykius',
 '732',
 '812',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'Iš viso išvykimų',
 '29280',
 '29438',
 '71',
 '17',
 '14',
 '8',
 '12',
 '13',
 '1',
 '2',
 '2',
 '2',
 '\xa0',
 'GAISRUS:',
 '14630',
 '13344',
 '29',
 '9',
 '5',
 '5',
 '3',
 '5',
 '\xa0',
 '\xa0',
 '1',
 '1',
 '\xa0',
 'a) Gaisruose žuvusius',
 '121',
 '121',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'b) traumuotus asmenis',
 '191',
 '203',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'GELBĖJIMO DARBUS:',
 '7301',
 '7851',
 '15',
 '3',
 '7',
 '2',
 '1',
 '1',
 '\xa0',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 'a) transporto avarijose',
 '871',
 '974',
 '2',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'b) vandenyje',
 '407',
 '298',
 '3',
 '\xa0',
 '3',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'c) buityje',
 '1107',
 '1368',
 '3',
 '\xa0',
 '\xa0',
 '2',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 'd) pagalba spec. tarnyboms',
 '3086',
 '3199',
 '5',
 '2',
 '2',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'e) chemija ir radiacija',
 '144',
 '167',
 '1',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'f) kitus',
 '1686',
 '1845',
 '1',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'IŠGELBĖTI ŽMONĖS',
 '503',
 '502',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'a) gaisruose',
 '180',
 '140',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'b) buityje, vandenyje',
 '89',
 '120',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'c) transporto avarijose',
 '188',
 '178',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'd) kitur',
 '46',
 '64',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'Žuvę/traumuoti ne gaisre',
 '0/9',
 '0/15',
 '/',
 '/',
 '/',
 '/',
 '/',
 '/',
 '/',
 '/',
 '/',
 '/',
 '/',
 'Evakuoti žmonės',
 '1798',
 '1079',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'Melagingi pranešimai',
 '870',
 '248',
 '1',
 '\xa0',
 '\xa0',
 '1',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 'KITI IŠVYKIMAI',
 '6479',
 '7995',
 '26',
 '5',
 '2',
 '\xa0',
 '8',
 '7',
 '1',
 '2',
 '\xa0',
 '1',
 '\xa0']

In [5]:
df

,Duomenys apie:,Vilniaus,Kauno,Klaipėdos,Šiaulių,Panevėžio,Alytaus,Utenos,Marijampolės,Tauragės,Telšių,Data
0,Ekstremaliąsias situacijas,,,,,,,,,,,2015-12-25
1,Ekstremaliuosius įvykius,,,,,,,,,,,2015-12-25
2,Iš viso išvykimų,17,14,8,12,13,1,2,2,2,,2015-12-25
3,GAISRUS:,9,5,5,3,5,,,1,1,,2015-12-25
4,a) Gaisruose žuvusius,,,,,1,,,,,,2015-12-25
5,b) traumuotus asmenis,,,,,,,,,,,2015-12-25
6,GELBĖJIMO DARBUS:,3,7,2,1,1,,,1,,,2015-12-25
7,a) transporto avarijose,,1,,,1,,,,,,2015-12-25
8,b) vandenyje,,3,,,,,,,,,2015-12-25
9,c) buityje,,,2,,,,,1,,,2015-12-25
10,d) pagalba spec. tarnyboms,2,2,,1,,,,,,,2015-12-25
11,e) chemija ir radiacija,1,,,,,,,,,,2015-12-25
12,f) kitus,,1,,,,,,,,,2015-12-25
13,IŠGELBĖTI ŽMONĖS,,,,,,,,,,,2015-12-25
14,a) gaisruose,,,,,,,,,,,2015-12-25
15,"b) buityje, vandenyje",,,,,,,,,,,2015-12-25
16,c) transporto avarijose,,,,,,,,,,,2015-12-25
17,d) kitur,,,,,,,,,,,2015-12-25
18,Žuvę/traumuoti ne gaisre,/,/,/,/,/,/,/,/,/,/,2015-12-25
19,Evakuoti žmonės,,,,,,,,,,,2015-12-25
20,Melagingi pranešimai,,,1,,,,,,,,2015-12-25
21,KITI IŠVYKIMAI,5,2,,8,7,1,2,,1,,2015-12-25

In [6]:
result

,Duomenys apie:,Vilniaus,Kauno,Klaipėdos,Šiaulių,Panevėžio,Alytaus,Utenos,Marijampolės,Tauragės,Telšių,Data
0,Ekstremaliąsias situacijas,,,,,,,,,,,2015-12-24
1,Ekstremaliuosius įvykius,,,,,,,,,,,2015-12-24
2,Iš viso išvykimų,15,11,6,11,2,6,3,2,3,4,2015-12-24
3,GAISRUS:,7,3,1,6,1,2,1,1,2,3,2015-12-24
4,a) Gaisruose žuvusius,,,,,,,,,,,2015-12-24
5,b) traumuotus asmenis,,,,,,,,,,,2015-12-24
6,GELBĖJIMO DARBUS:,2,5,1,3,,2,1,,,1,2015-12-24
7,a) transporto avarijose,,,,1,,,,,,,2015-12-24
8,b) vandenyje,,,,,,,,,,,2015-12-24
9,c) buityje,,,1,,,,,,,1,2015-12-24
10,d) pagalba spec. tarnyboms,1,3,,2,,1,,,,,2015-12-24
11,e) chemija ir radiacija,,,,,,,,,,,2015-12-24
12,f) kitus,1,2,,,,1,1,,,,2015-12-24
13,IŠGELBĖTI ŽMONĖS,,,,,,,,,,,2015-12-24
14,a) gaisruose,,,,,,,,,,,2015-12-24
15,"b) buityje, vandenyje",,,,,,,,,,,2015-12-24
16,c) transporto avarijose,,,,,,,,,,,2015-12-24
17,d) kitur,,,,,,,,,,,2015-12-24
18,Žuvę/traumuoti ne gaisre,/,/,/,/,/,/,/,/,/,/,2015-12-24
19,Evakuoti žmonės,,,,,,,,,,,2015-12-24
20,Melagingi pranešimai,1,,2,,,,,,,,2015-12-24
21,KITI IŠVYKIMAI,5,3,2,2,1,2,1,1,1,,2015-12-24
22,Ekstremaliąsias situacijas,,,,,,,,,,,2015-12-25
23,Ekstremaliuosius įvykius,,,,,,,,,,,2015-12-25
24,Iš viso išvykimų,17,14,8,12,13,1,2,2,2,,2015-12-25
25,GAISRUS:,9,5,5,3,5,,,1,1,,2015-12-25
26,a) Gaisruose žuvusius,,,,,1,,,,,,2015-12-25
27,b) traumuotus asmenis,,,,,,,,,,,2015-12-25
28,GELBĖJIMO DARBUS:,3,7,2,1,1,,,1,,,2015-12-25
29,a) transporto avarijose,,1,,,1,,,,,,2015-12-25
30,b) vandenyje,,3,,,,,,,,,2015-12-25
31,c) buityje,,,2,,,,,1,,,2015-12-25
32,d) pagalba spec. tarnyboms,2,2,,1,,,,,,,2015-12-25
33,e) chemija ir radiacija,1,,,,,,,,,,2015-12-25
34,f) kitus,,1,,,,,,,,,2015-12-25
35,IŠGELBĖTI ŽMONĖS,,,,,,,,,,,2015-12-25
36,a) gaisruose,,,,,,,,,,,2015-12-25
37,"b) buityje, vandenyje",,,,,,,,,,,2015-12-25
38,c) transporto avarijose,,,,,,,,,,,2015-12-25
39,d) kitur,,,,,,,,,,,2015-12-25
40,Žuvę/traumuoti ne gaisre,/,/,/,/,/,/,/,/,/,/,2015-12-25
41,Evakuoti žmonės,,,,,,,,,,,2015-12-25
42,Melagingi pranešimai,,,1,,,,,,,,2015-12-25
43,KITI IŠVYKIMAI,5,2,,8,7,1,2,,1,,2015-12-25

In [5]:
df=pd.DataFrame(np.array(data).reshape(22,14), columns =["Duomenys apie:", "2017 nuo metų pr.", "2018 nuo metų pr.", "Iš viso per parą", "Vilniaus", "Kauno", "Klaipėdos", "Šiaulių", "Panevėžio", "Alytaus", "Utenos", "Marijampolės", "Tauragės", "Telšių"])

In [6]:
df=df.drop(df.columns[1:4], axis=1).T.drop([2,6,13], axis=1)

In [7]:
df=df.rename(columns=df.iloc[0]).drop(['Duomenys apie:']).reset_index()

In [8]:
df

,index,Ekstremaliąsias situacijas,Ekstremaliuosius įvykius,GAISRUS:,a) Gaisruose žuvusius,b) traumuotus asmenis,a) transporto avarijose,b) vandenyje,c) buityje,d) pagalba spec. tarnyboms,e) chemija ir radiacija,f) kitus,a) gaisruose,"b) buityje, vandenyje",c) transporto avarijose,d) kitur,Žuvę/traumuoti ne gaisre,Evakuoti žmonės,Melagingi pranešimai,KITI IŠVYKIMAI
0,Vilniaus,,1,8,,,2,,,2,,,,,1,,/,,,8
1,Kauno,,,8,,,2,,1,1,,,,,,,/,,1,7
2,Klaipėdos,,,6,,,,,,,,4,,,,,/,,,4
3,Šiaulių,,2,5,,,,,,2,,1,,,,1,/,,,3
4,Panevėžio,,,11,,,,,1,3,,,,,,1,/1,,,1
5,Alytaus,,,3,,,,1,,2,,,,,,,/,,,2
6,Utenos,,,1,,,,,,,,,,,,,/,,,2
7,Marijampolės,,2,1,,,1,,1,2,,,,,,,/,,,3
8,Tauragės,,,1,,,,,,,,,,,,,/,,,1
9,Telšių,,,2,,,,,,1,,3,,,,,/,,,

In [9]:
df['Žuvę ne gaisre'], df['Traumuoti ne gaisre'] = df['Žuvę/traumuoti ne gaisre'].str.split('/',1).str
df=df.drop(['Žuvę/traumuoti ne gaisre'], axis=1)

In [10]:
df

,index,Ekstremaliąsias situacijas,Ekstremaliuosius įvykius,GAISRUS:,a) Gaisruose žuvusius,b) traumuotus asmenis,a) transporto avarijose,b) vandenyje,c) buityje,d) pagalba spec. tarnyboms,...,f) kitus,a) gaisruose,"b) buityje, vandenyje",c) transporto avarijose,d) kitur,Evakuoti žmonės,Melagingi pranešimai,KITI IŠVYKIMAI,Žuvę ne gaisre,Traumuoti ne gaisre
0,Vilniaus,,1,8,,,2,,,2,...,,,,1,,,,8,,
1,Kauno,,,8,,,2,,1,1,...,,,,,,,1,7,,
2,Klaipėdos,,,6,,,,,,,...,4,,,,,,,4,,
3,Šiaulių,,2,5,,,,,,2,...,1,,,,1,,,3,,
4,Panevėžio,,,11,,,,,1,3,...,,,,,1,,,1,,1
5,Alytaus,,,3,,,,1,,2,...,,,,,,,,2,,
6,Utenos,,,1,,,,,,,...,,,,,,,,2,,
7,Marijampolės,,2,1,,,1,,1,2,...,,,,,,,,3,,
8,Tauragės,,,1,,,,,,,...,,,,,,,,1,,
9,Telšių,,,2,,,,,,1,...,3,,,,,,,,,